@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;600&display=swap");

#branding {
  padding: 3em;
  text-align: center;

}
h1, h3, h4, div, p, a, td, span, body {
  font-family: 'Barlow', sans-serif;
}

#navbar {
  position: sticky;
  top: 0px;
  z-index: index 100;
  background-color: #0b3e74;
  font: bolder;
  color: aliceblue;
}

#navbar-brand {
  font: bolder;
  color: aliceblue;
}

#navbar img {
  max-width: 20px;
  margin: 5px;
}

.badge-chain {
  text-transform: uppercase;
}

.badge-chain + .badge-network {
  margin-left: 0.5em;
}

.badge-network:hover,
.badge-network:focus {
  cursor: help;
}

.card {
  margin: 3em 0;
}
.card h3.card-title {
  margin-bottom: .3em;
}
#upload {
  margin-top: 5em;
}

.card.no-border {
  border:none
}

#actions {
  margin: 3em 0 2em 0;
}

table, td {
  word-wrap: break-word;
  word-break:break-all;
}

footer {
  margin: 3em 0 1em 0;
}
